@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/font-files/Inter-Regular.woff2") format("woff2"),
       url("/font-files/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/font-files/Inter-Italic.woff2") format("woff2"),
       url("/font-files/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/font-files/Inter-Bold.woff2") format("woff2"),
       url("/font-files/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/font-files/Inter-BoldItalic.woff2") format("woff2"),
       url("/font-files/Inter-BoldItalic.woff") format("woff");
}